# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
VITE_RENDERER_ENV_EXAMPLE=VITE_RENDERER_ENV_EXAMPLE
VITE_ENV_EXAMPLE=VITE_ENV_EXAMPLE
VITE_RENDERER_BACKEND_PORT=8020

VITE_DATABASE_HOST=""
VITE_DATABASE_USER=""
VITE_DATABASE_PASSWORD=""
VITE_DATABASE_PORT=""
VITE_DATABASE_NAME=""

# VITE_DATABASE_URL="${VITE_DATABASE_USER}://postgres:${VITE_DATABASE_PASSWORD}@${VITE_DATABASE_HOST}:${VITE_DATABASE_PORT}/${VITE_DATABASE_NAME}?schema=public&pool_timeout=60"
DATABASE_URL="file:./db/db.db"
VITE_DATABASE_URL="./db/db.db"
VITE_BUILDED=false
